@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.img {
    max-width: 100%;
}
@media (min-width:460px) and (max-width:700px){
}   
.container {
    max-width: 1200px;
    margin:0 auto;
}
.header {
    background-image: url(imagenes/R\ \(2\).jpeg);
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh; 
    display: flex;
    align-items: center;
    
    

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.logo  {
    color: #f40505;
    font-size: 25px;
    font-weight: 800;
    background-image: url(imagenes/logo\ rapido.png);
    
}

.menu .navbar ul li  {
    position: relative;
    float: left;

}
 
.menu .navbar ul li a {
     font-size: 18px;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #f9f7f7;
    font-weight: 600;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}
.menu-label {
    cursor: pointer;
    display: none;
}
.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 85px;
    color: #f7f4f4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p {
    color: #fffefe;
    font-size: 25px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #fffefe;
    color: #f5efef;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    color: #cbd3dc;
    background-color: #f5efef;
}

.general {
    padding: 50px 0;
    text-align: center;
}

.general-contet {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}

.general-1 {
    background-image: url(imagenes/over\ 1.jpeg);
    opacity: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 140px 55px;
    margin-right: 10px;
}
.general-2 {
    background-image: url(imagenes/over\ 2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 140px 55px;
    margin-right: 10px;
    
}

.general-3 {
    background-image: url(imagenes/over\ 3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 140px 55px;
    margin-right: 10px;
}

.general-4 {
    background-image: url(imagenes/dis1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
    margin-right: 10px;
}

.general-5 {
    background-image: url(imagenes/dis2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
    margin-right: 10px;
}

.general-6 {
    background-image: url(imagenes/dis3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 120px 55px;
    margin-right: 10px;
}

h2 {
    font-size: 85px;
    text-transform: uppercase;
    color: #000000;
}

.txt h3 {
    font-size: 25px;
    color: #ffffff;
    opacity: 200px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.txt p {
    color: #f6f4f4;
    font-size: 16px;
}

.info-1 {
    padding: 180px 30px;
    background-image: url(imagenes/brother-gtx-hintergrund.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
}
.info-content {
    text-align: center;
}

.info-content p {
    color: #cbd3dc;
}

.info-content h3, span {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.info-content h2, span {
    color: #fdf9f9;
    font-size: 25px;
    
}

.info-circle {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
   
}

.circle-txt {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    color: #f9f6f6;
    font-size: 25px;
}

.circle-1 {
    height: 100px;
    width: 100px;
    border: 1px solid #cbd3dc;
    border-radius: 50%;
    padding-top: 35px;
    text-align: center;
    
}

.circle-1 h3 {
    color: #cbd3dc;
    font-size: 16px;
}

.circle-txt p {
    color: #cbd3dc;
    margin-top: 25px;
}

.info-2 {
    padding: 180px 30px;
    background-image: url(imagenes/brother-gtx-hintergrund.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;

}

.testi {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 35px;
}

.testi-left {
    width: 50%;
    padding-right: 25px;
}

.testi-right {
    width: 50%;
    padding-left: 35px;
}

.testi-txt {
    margin-bottom: 25px;
}

.testi-txt img {
    width: 50px;
    margin-bottom: 15px;
}

.testi-txt h3 {
    font-size: 25px;
    color: #f6f4f4;
}

.testi-txt p {
    color: #f5efef;
    font-size: 25px;
}

.footer {
    padding: 100px 0 0 0;
    text-align: center;
    margin-top: 20px;

}

.form {
    margin-top: 35px;
}

.campo {
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #0a0a0a;
    outline: none;
    color: #000000;
}

.campo::placeholder {
    color: #3d3c3c;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #000000;
    color: #1c1b1b;

}

.footer-txt {
margin-top: 100px;
border-top: 1px solid #000000;
padding: 20px 0;

}

.footer-txt p {
    color: #1b293A;
    font-size: 20px;
}

@media (min-width:460px) and (max-width:700px){
}
    .menu {
        background-color: #1b293A;
        padding: 10px;
        
    }

    .menu label {
        display: initial;
    }

    
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #080808;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;  
    }
    .header-txt h1 {
        font-size: 50px;
    }
    .header-txt p {
        padding: 0%;
    }
    .generalg2container {
        padding: 30px 30px 0 30px;
    }
    .general-conted {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .general {
        padding: 10px 10px 0 10px;
    }
    .general-1,
     .general-2,
     .general-3,
     .general-4,
     .general-5,
     .general-6{
        height: 250px;
        padding: 5px 5px;
        margin-bottom: 15px;
     }

     .info-1 {
        height: 1000px;
        padding: 5px 5px;
        margin-bottom: 15px;
        background-size: cover;
        
     }
     
     .info-2 {
        height: 1000px;
        padding: 5px 5px;
        margin-bottom: 15px;
        background-size: cover;
        
     }
     .info-circle{
        flex-direction: column;
        align-items: center;
    }
    .circle-txt{
        width: 100%;
        margin-bottom: 25px;
    }
    .g2 {
        margin-top: 10px;
        
    }

.info-1 {
    padding: 50px 20px;
    background-size: cover;
    margin-top: -160;
}
    .info-2 {
        padding: 50px 20px;
        background-size: cover;
        margin-top: -160;
    }
     .testi {
        flex-direction: column;
     }
     .testi-left {
        width: 100%;
        padding-left: 0;
     }
     .testi-right {
        width: 100%;
        padding-left: 0%;
    }
h2 { 
    font-size: 40px;
margin-top: -140;
}
    .footer {
        padding: 0%;
margin:-140pma;
}
form {
    display: flex;
    flex-direction: column;
    padding: 0% 50px;
}
.campo {
    margin: 0 0 10px 0; 
}
.footer-txt {
    margin-top: 30px;
}
